{% extends 'base.html' %}
{% block container %}
<div class="row">
    <div class="col-sm-3">
        <a href="{% url 'client:inbox' %}">All</a><br>
        {% for account in accounts %}
            <a href="{% url 'client:inbox' account.id %}">{{ account }}</a><br>
        {% endfor %}
    </div>
    <div class="col-sm-7">
        <table class="table">
            {% for mail in mails %}
                <tr>
                    <td><a href="{% url 'client:mail_detail' mail.id %}">{{ mail.id }}</a></td>
                    <td>{{ mail.parsedmail.subject }}</td>
                    <td>{{ mail.parsedmail.mail_from }}</td>
                    <td>{{ mail.parsedmail.mail_to }}</td>
                    <td>{{ mail.parsedmail.date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock container %}
