{% extends 'base.html' %}
{% block container %}
<div class="row">
    <div class="col-sm-3">
        <a href="{% url 'client:inbox' %}">All</a><br>
        {% for account in accounts %}
            <a href="{% url 'client:inbox' account.id %}">{{ account }}</a><br>
        {% endfor %}
    </div>
    <div class="col-sm-7">
        <pre>{{ mail.data }}</pre>
    </div>
</div>
{% endblock container %}
