<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
{#                <img src="{{ STATIC_URL }}mbp_logo.png" style="margin-top: -8px; width: 40px; display: inline-block;">#}
                Neomail
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'client:send_mail' %}">New</a></li>
{#                {% if request.user.account.priv_can_create_profile %}#}
{#                    <li><a href="{% url 'profile:new' %}">New profile</a></li>#}
{#                {% endif %}#}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><b>{{ request.user.username }}</b> Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
