{% extends 'base.html' %}
{% block container %}
<div class="row">
    <div class="col-sm-3">
        <a href="{% url 'client:inbox' %}">All</a><br>
        {% for account in accounts %}
            <a href="{% url 'client:inbox' account.id %}">{{ account }}</a><br>
        {% endfor %}
    </div>
    <div class="col-sm-7">
        {% if request.GET.msg == 'sent' %}
            Email has been sent
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% include 'form.html' %}
            <input type="submit">
        </form>
    </div>
</div>
{% endblock container %}
