{% extends "bootstrap/base.html" %}
{% block bootstrap_body %}
    <style>
    .djangoform textarea,
    .djangoform input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .djangoform textarea {
        height: 100px;
    }
    </style>
    {% include "client/menu.html" %}

    <div class="container">
    {% block container %}
    {% endblock container %}
    <hr>
    <p>2014 &copy; <a href="http://neomail.cz">Neomail</a> | Powered by <a href="http://sikasystems.cz">Sika Systems</a></p>
    </div>
{% endblock bootstrap_body %}
